/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 3, 2019, 12:19:01 PM
    Author     : frontend
*/

/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato&display=swap');

/*
font-family: 'Anton', sans-serif;
font-family: 'Lato', sans-serif;
*/

img{
    max-width: 100%;
}

body{
    font-family: 'Lato', sans-serif;
    color: #2C2D3C;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    color: #6DD1FF;
    font-family: 'Anton', sans-serif;
}

p{
    font-size: 18px;
    line-height: 26px;
    color: #2C2D3C;
}

/********header********/

.navbar .navbar-brand{
    max-width: 50%;
}


.navbar .navbar-toggler span{
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #1085EA;
}

.navbar .navbar-toggler span:last-of-type{
    margin-bottom: 0;
}

.navbar-light .navbar-nav .nav-link{
    color: #A8A8A8;
    line-height: 19px;
    letter-spacing: 0.5px;
    text-align: center;
    margin-left: 50px;
    border-top: 2px solid transparent;


}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover{
    color: #1085EA;
    border-top: 2px solid #1085EA;
}

/*******home*********/

.home .carousel-item{
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20% 0 10%;
}

.home .carousel-item .caption{
    width: 50%;
    max-width: 555px;
}



.home .carousel-item .caption .link-button{
    background: linear-gradient(139.4deg, #1085EA 0%, #0E9FE2 100%); 
    font-size: 11px;
    padding: 10px 13px;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 0%;
    margin-left: 0%;
    list-style: none;
}

.carousel-indicators li {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #CCCCCC;
    margin-left: 19px;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    opacity: .5;
    transition: opacity 0.6s ease;
}

.carousel-indicators li.active{
    background-color: #6DD1FF;
}

.carousel-indicators li:first-of-type{
    margin-left: 0;
}

/***********about*************/


.about{
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;


}

/***********services**************/

.services .services-item .services-item-title{
    color: #1085EA;
}

.services .services-item .services-list{
    list-style: none;
}

/*************portfolio***************/

.portfolio .portfolio-item img{
    width: 100%;
    transition: all 0.5s linear;
}


.portfolio .portfolio-item{
    overflow: hidden; 
}

.portfolio .portfolio-item a{

    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    background: linear-gradient(139.4deg, #1085EA 0%, #0E9FE2 100%);
    font-size: 14px;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}

.portfolio .portfolio-item:hover a{
    display: block;
}

.portfolio .portfolio-item:hover img{
    transform: scale(1.2);
}

/****************contact***************/

.contact{
    background-image: url(assets/img-footer.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 148px 0 51px;
}

.contact .contact-map iframe{
    width: 100%;
    height: 314px;
}

.contact form .form-control{
    border: 1px solid #fff;
    line-height: 4.5rem;
    color: #fff;
    width: 100%;
    display: block;
    padding: 0 10px;
    background-color: transparent;
}

.contact form button{
    background: linear-gradient(139.4deg, #1085EA 0%, #0E9FE2 100%);
    color: #fff;
    border: none;
    padding: 10px 14px;
    font-family: 'Anton', sans-serif;

}

#error-message{
    color:#f00;
    font-size: 0.8rem;
    line-height: 12px;
}

#success-message{
    color: green;
    font-size: 0.8rem;
    line-height: 12px;
}